@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf') format('truetype'),
        url('fonts/Outfit-Bold.ttf') format('truetype');
}

:root {
    --white: 0, 0%, 100%;
    --white-hsl: hsl(0, 0%, 100%);

    --grayish-blue: 220, 15%, 55%;
    --grayish-blue-hsl: hsl(220, 15%, 55%);

    --dark-blue: 218, 44%, 22%;
    --dark-blue-hsl: hsl(218, 44%, 22%);
}


/* CSS-reset classes*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}


img {
    margin-bottom: 24px;
    border-radius: 10px;
}


body {
    font-family: 'Outfit', sans-serif;
    background: hsla(var(--grayish-blue), 0.2);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    color: hsl(var(--dark-blue));
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

p {
    color: hsl(var(--grayish-blue));
    text-align: center;
    margin-bottom: 24px;
}

.card {
    background: hsl(var(--white));
    padding: 16px;
    width: 315px;
    border-radius: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}