@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf') format('truetype'),
        url('fonts/Outfit-Bold.ttf') format('truetype');
}

:root {
    --white: 0, 0%, 100%;
    --white-hsl: hsl(0, 0%, 100%);

    --grayish-blue: 220, 15%, 55%;
    --grayish-blue-hsl: hsl(220, 15%, 55%);

    --dark-blue: 218, 44%, 22%;
    --dark-blue-hsl: hsl(218, 44%, 22%);
}


body {
    font-family: 'Outfit', sans-serif;
    background: hsla(var(--grayish-blue), 0.3);
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}

article h1 {
    color: hsl(var(--dark-blue));
    font-weight: 700;
}

article p {
    color: hsl(var(--grayish-blue));
    font-size: 15px;
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.card {
    background: hsl(var(--white));
    padding: 16px;
    width: 300px;
    border-radius: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card div>* {
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}